.fonte-1-xs{
  font-size: 0.75rem;
  line-height: 1.35;
  font-family:'Poppins' ;
  font-weight: 400;
}
.fonte-2-xs{
  font-size: 0.875rem;
  line-height: 1.42;
  font-family:'Roboto' ;
  font-weight: 400;
}
.fonte-2-s{
  font-size: 1rem;
  line-height: 1.5;
  font-family:'Roboto' ;
  font-weight: 400;
}
.fonte-1-s{
  font-size: 1rem;
  line-height: 1.5;
  font-family:'Poppins' ;
  font-weight: 500;
}
.fonte-2-m{
  font-size: 1.125rem;
  line-height: 1.35;
  font-family:'Roboto' ;
  font-weight: 500;
}
.fonte-1-m-b{
  font-size: 1.125rem;
  line-height: 1.35;
  font-family:'Poppins' ;
  font-weight: 700;
}
.fonte-1-m{
  font-size: 1.125rem;
  line-height: 1.35;
  font-family:'Poppins' ;
  font-weight: 500;
}
.fonte-2-l-b{
  font-size:1.5rem;
  line-height: 1.5;
  font-family: 'Roboto';
  font-weight: 500;
  text-transform: uppercase;

}
.fonte-2-l{
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Roboto';
  font-weight: 400;
}
.fonte-1-l{
  font-size:1.5rem;
  line-height: 1.5;
  font-family: 'Poppins';
  font-weight: 500;
  

}
.fonte-1-xl{
  font-size:2rem;
  line-height: 1.25;
  font-family: 'Poppins';
  font-weight: 600;

}
.fonte-2-xl{
  font-size:2rem;
  line-height: 1;
  font-family: 'Roboto';
  font-weight: 700;

}
.fonte-1-xxl{
  font-size: 4rem;
  line-height: 1.125;
  font-family: 'Poppins';
  font-weight: 600;

}
